html,body {
    height: auto;
	margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    
}
.inner{ 
    text-align: left;
    padding: 10%;
}
h1 {
    text-shadow: 2px 2px #7a777788;
    margin-top: 0;
    padding-top: 20px; 
    text-align: center;
}